<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="/style3.css"
      type="text/css"
    />
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to Next-Gen Solutions!</h1>
    <p>
      <a href="/login">Click to Login</a>
      </p>
</body>
</html>